<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="smsSender" class="com.bit.exam05.SmsSender">
		<property name="from" value="성인"/>
		<property name="to" value="건우"/>
	</bean>
	<bean id="systemMonitor" class="com.bit.exam05.SystemMonitor">
		<property name="peroidTime" value="1"/>
		<property name="sender" ref="smsSender"/>
	</bean>
</beans>
